:root{
  --primary-color: #044E51;
  --primary-color-alpha: #005fff1a;
}

html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.app__wrapper{
  display: flex;
  flex: 1;
  height: 100%;
  box-shadow: rgba(0,0,0,0.33) 0px 2px 3px 0px;
  /*should I push it to the right?*/
}

.auth__form-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.auth__form-container_image {
  flex: 3;
  display: flex;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.05);
}

.auth__form-container_image img {
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 800px) {
  .auth__form-container {
    flex-direction: column;
  }

  .auth__form-container_fields {
    justify-content: flex-start;
  }

  .auth__form-container_image {
    height: 100px;
    flex: none;
    box-shadow: none;
  }

  .auth__form-container_image img {
    object-fit: cover;
  }
}

.auth__form-container_fields {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  background: #044E51;
}

.auth__form-container_fields-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
  border-radius: 50px;
  transition: 0.8s ease;
  background: #fff;
}

.auth__form-container_fields-content p {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #05245a;
  font-weight: 900;
}

.auth__form-container_fields-content_button {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}

.auth__form-container_fields-content_button button {
  border-radius: 4px;
  background: #000d0e;
  border: 1px solid #005fff;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 0.7rem 1.2rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth__form-container_fields-content_button button:hover {
  background: #0066ff;
}

.auth__form-container_fields-account {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.2rem;
}

.auth__form-container_fields-account p {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.auth__form-container_fields-account span {
  color: #05245a;
  cursor: pointer;
  font-weight: 700;
}

.create-channel__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.create-channel__header {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue, sans-serif;
  justify-content: space-between;
  height: 62px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}

.create-channel__button-wrapper {
  height: 82px;
  background: #f7f6f8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom-right-radius: 16px;
  padding: 0px 10px;
}

.create-channel__button-wrapper p {
  background: var(--primary-color);
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
}

.channel__container {
  height: 100%;
  width: 100%;
}

.channel-list__container {
  display: flex;
  /* height: 800px; */
  height: 100%;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.channel-empty__container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.channel-list__container-responsive {
  display: none;
  height: 100%;
  box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 90%;
  top: 0%;
  z-index: 5;
  transition: 0.8s ease;
}

.channel-empty__first {
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  color: #2c2c30;
  margin-bottom: 10px;
}
.channel-empty__second {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 120%;
  margin: 0;
  color: #858688;
}

.channel-list__header {
  padding-left: 16px;
  height: 62px;
}

.channel-list__header__text {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /*text-align: center;*/
  color: #ffffff;
}

.channel-list__list__wrapper {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
  width: 240px;
}

.channel-list__sidebar{
  width: 80px;
  background: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    var(--primary-color);
    box-shadow: 1px 0px 0px rgba(0,0,0,0.5);
}
.channel-list__sidebar__icon1 {
  width: 44px;
  height: 44px;
  margin: 14px;
  background: linear-gradient(
      150.64deg,
      rgba(0, 0, 0, 0.1) 12.73%,
      rgba(0, 0, 0, 0) 89.32%
    ),
    #ffffff;
  border-radius: 9999px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
}
.channel-list__sidebar__icon2 {
  width: 44px;
  height: 44px;
  margin: 14px;
  background: linear-gradient(
      150.64deg,
      rgba(0, 0, 0, 0.1) 12.73%,
      rgba(0, 0, 0, 0) 89.32%
    ),
    #ffffff;
  border-radius: 9999px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
  cursor: pointer;
}

.channel-name-input__wrapper {
  display: flex;
  flex-direction: column;
  height: 169px;
  padding-left: 20px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

/* check this*/
.channel-search__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  border-top: 1px solid #00000033;
}

.channel-search__input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  width: 95%;
}

.channel-search__input__wrapper:focus-within {
  border: 1px solid #fff;
}

.channel-search__input__icon {
  width: 32px;
  display: flex;
  justify-content: center;
}

.channel-search__input__text {
  background: none;
  border: none;
  color: #fff;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  outline: none;
}

.channel-search__results {
  position: fixed;
  height: fit-content;
  width: 300px;
  background: #fff;
  border: 1px solid #e9e9ea;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  z-index: 10;
  left: 1220px;
  top: 120px;
}

.channel-search__results-header {
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #858688;
  margin-left: 12px;
}

.channel-search__results-header i {
  font-weight: normal;
  margin-left: 12px;
}

.channel-search__result-container {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

.channel-search__result-container__focused {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background: var(--primary-color-alpha);
}

.channel-search__result-container:hover {
  background: var(--primary-color-alpha);
  cursor: pointer;
}

.channel-search__result-user {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.result-hashtag {
  height: 24px;
  width: 28px;
  background: var(--primary-color);
  border-radius: 24px;
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  color: #ffffff;
}

.channel-search__result-text {
  width: 100%;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #2c2c30;
}

/* check till here */

.channel-search__input__icon {
  width: 32px;
  display: flex;
  justify-content: center;
}

.channel-search__input__text {
  background: none;
  border: none;
  color: #fff;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  outline: none;
}

.channel-search__input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid transparent;
  width: 95%;
}

.channel-preview__item {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #ffffff;
  padding: 0px 20px;
  height: 100%;
  width: 100%;
  text-overflow: ellipsis;
  word-break: break-all;
}


.channel-preview__item.single .str-chat__avatar {
  margin-right: 12px;
}


/* should I let them be the default?*/
.channel-preview__wrapper {
  height: 37px;
  display: flex;
  align-items: center;
}

.channel-preview__wrapper__selected {
  height: auto;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  margin-right: 16px;
  cursor: pointer;
  z-index: 2;
}

.channel-preview__wrapper:hover {
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  margin-right: 16px;
  cursor: pointer;
}
/* until here*/

.auth__form-container_fields-content_input {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem 0rem;
}

.auth__form-container_fields-content_input label {
  margin-bottom: 0.45rem;
  color: rgb(61, 79, 88);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.3;
}

.auth__form-container_fields-content_input input {
  padding: 0.55rem 0.4rem;
  border: 1px solid rgb(184, 196, 194);
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  transition: all 150ms ease-in-out 0s;
  width: 85%;
  background: #fff;
}

.auth__form-container_fields-content_input input::placeholder {
  color: #b1b1b1;
  width: 100%;
  font-weight: unset;
  font-family: Arial, Helvetica, sans-serif;
}

.auth__form-container_fields-content_input input:hover {
  border-color: #dcdddd;
}

.auth__form-container_fields-content_input input:focus,
.auth__form-container_fields-content_input input:active {
  box-shadow: 0px 0px 0px 1.5px #005fff;
  border-color: #005fff;
}

.auth__form-container_fields-content_input-password {
  position: absolute;
  right: 13%;
  top: 50%;
  cursor: pointer;
}

.icon1__inner, .icon2__inner {
  font-family: Helvetica Neue, sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-channel-header__container {
  position: relative;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 16px;
  z-index: 1;
}

.team-channel-header__channel-wrapper {
  display: flex;
  align-items: center;
}

.team-channel-header__channel-wrapper svg {
  cursor: pointer;
}

.team-channel-header__name {
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #2c2c30;
  margin-right: 8px;
}

.team-channel-header__name-wrapper {
  flex: 3;
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 500px;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 1070px) {
  .team-channel-header__name-wrapper {
    max-width: 700px;
  }
}

.team-channel-header__name-wrapper::-webkit-scrollbar {
  display: none;
}

.team-channel-header__name-multi {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.team-channel-header__name-multi:nth-child(3) {
  margin-right: 0px;
}

.team-channel-header__name-wrapper .str-chat__avatar {
  margin-right: 8px;
}

.team-channel-header__name.user {
  font-weight: 500;
  font-size: 14px;
}

.team-channel-header__right {
  flex: 0.55;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.team-channel-header__right-pin-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.team-channel-header__right svg {
  margin-left: 16px;
  margin-right: 4px;
}

.team-channel-header__right-text {
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #858688;
}

.team-channel-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.team-channel-list__header {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team-channel-list__header__title {
  font-family: Helvetica Neue, sans-serif;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  color: rgba(255, 255, 255, 0.66);
  margin-bottom: 10px;
}

.team-channel-list__message {
  color: #ffffff;
  padding: 0 16px;
}

.team-channel__input-control{
  display: flex;
}

.team-channel__registration-button{
  display: flex;
  position: relative;
  align-items: center;
  font-family: Helvetica Neue, sans-serif;
  font-size: 20px;
  color: #ffffff;
  line-height: 16px;
  height: auto;
  width: auto;
  background-color: var(--primary-color);
  border-radius: 5%;
  bottom: 4%;
  left: 20px;
  z-index: 6;
}

.tooltip {
  display: flex;
  border-bottom: 0px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.66);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: sticky;
  z-index: 7;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.user-item__invite-empty {
  height: 28px;
  width: 28px;
  background: #f7f6f8;
  border: 1px solid #dedddf;
  border-radius: 14px;
  box-sizing: border-box;
  margin-left: 2px;
}

.user-item__wrapper {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  justify-content: space-between;
}

.user-item__name {
  font-weight: 500;
}

.user-item__name-wrapper {
  display: flex;
  align-items: center;
  flex: 2;
  text-align: left;
}

.user-list__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-list__header {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  justify-content: space-between;
}

.user-list__message {
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  color: #2c2c30;
  margin: 20px;
}
